<%- include('layouts/header') -%>

<main class="home-main">
    <section class="intro">
        <h1>Welcome to BringIt!</h1>
        <p>Your ultimate solution for managing tasks and reminders. Stay organized and never miss out on important tasks again.</p>
        <a href="/signUpPage" class="cta-button">Get Started</a>
    </section>

    <section class="features">=
        <div class="feature">
            <h2>Easy Task Management</h2>
            <p>Organize your tasks effortlessly with our intuitive dashboard.</p>
        </div>
        <div class="feature">
            <h2>Instant Reminders</h2>
            <p>Receive reminders and notifications for your upcoming tasks.</p>
        </div>
        <div class="feature">
            <h2>Accessible Anytime</h2>
            <p>Access your tasks and reminders from anywhere, anytime.</p>
        </div>
    </section>
</main>

<%- include('layouts/footer') -%>
